In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv('homework (1).csv')

In [4]:
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [5]:
df.columns
# 'ID'
# 'crim' уровень преступности на душу населения по городам
# 'zn' доля земли под жилую застройку зонирована на участки площадью более 25 000 кв. футов
# 'indus' доля акров, не связанных с розничной торговлей, на город.
# 'chas' Фиктивная переменная Charles River (= 1, если участок ограничивает реку; 0 в противном случае).
# 'nox' концентрация оксидов азота nox (частей на 10 млн).
# 'rm' cреднее количество комнат в доме
# 'age'доля жилых домов, построенных до 1940 года.
# 'dis'взвешенного среднего расстояний до пяти бостонских центров занятости.
# 'rad'индекс доступности радиальных магистралей
# 'tax'налог на полную стоимость - ставка налога на имущество за \ $ 10,000.
# 'ptratio'соотношение учеников и учителей по городам .
# 'black'1000 (Bk - 0,63) ^ 2, где Bk - доля черных по городу.
# 'lstat'более низкий статус населения (в процентах).
# 'medv'медианная стоимость домов, занимаемых владельцами, за 1000 долларов.

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       333 non-null    int64
 1   crim     333 non-null    float64
 2   zn       333 non-null    float64
 3   indus    333 non-null    float64
 4   chas     333 non-null    int64
 5   nox      333 non-null    float64
 6   rm       333 non-null    float64
 7   age      333 non-null    float64
 8   dis      333 non-null    float64
 9   rad      333 non-null    int64
 10  tax      333 non-null    int64
 11  ptratio  333 non-null    float64
 12  black    333 non-null    float64
 13  lstat    333 non-null    float64
 14  medv     333 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [30]:
X, y = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat']], df['medv']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [32]:
model = LogisticRegression()

In [33]:
model.fit(X_test, y_test)

ValueError: Unknown label type: 'continuous'