Домашнее задание к лекции "Базовые понятия статистики"
Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [72]:
import pandas as pd
import numpy as np

In [73]:
horse_data = pd.read_csv(r'E:\PythonProg\Базовые понятия статистика\horse_data.csv', usecols=[0, 1, 3, 8, 10, 17, 19 ,22], names = ['surgery', 'Age', 'rectal_temperature', 'mucous_membranes', 'pain', 'abdomen', 'protein', 'outcome'])
horse_data.head()

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
0,2,1,38.50,?,5,5,8.40,2
1,1,1,39.2,4,3,2,85,3
2,2,1,38.30,3,3,1,6.70,1
3,1,9,39.10,6,2,?,7.20,2
4,2,1,37.30,6,?,?,7.40,2

In [74]:
horse_data = horse_data.replace('?', np.nan)
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   surgery             299 non-null    object
 1   Age                 300 non-null    int64
 2   rectal_temperature  240 non-null    object
 3   mucous_membranes    253 non-null    object
 4   pain                245 non-null    object
 5   abdomen             182 non-null    object
 6   protein             267 non-null    object
 7   outcome             299 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.9+ KB

In [75]:
horse_data = horse_data.apply(lambda column: pd.to_numeric(column, errors='ignore'), axis=0)

In [76]:
# размах – разница между минимальным и максимальным значением

rectal_temperature_range = horse_data.rectal_temperature.max() - horse_data.rectal_temperature.min()
protein_range = horse_data.protein.max() - horse_data.protein.min()
print(rectal_temperature_range)
print(protein_range)

5.399999999999999
85.7

In [77]:
horse_data.describe()

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
count,299.000000,300.000000,240.000000,253.000000,245.00000,182.000000,267.000000,299.000000
mean,1.397993,1.640000,38.167917,2.853755,2.95102,3.692308,24.456929,1.551839
std,0.490305,2.173972,0.732289,1.620294,1.30794,1.491725,27.475009,0.737187
min,1.000000,1.000000,35.400000,1.000000,1.00000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.800000,1.000000,2.00000,2.000000,6.500000,1.000000
50%,1.000000,1.000000,38.200000,3.000000,3.00000,4.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,4.000000,4.00000,5.000000,57.000000,2.000000
max,2.000000,9.000000,40.800000,6.000000,5.00000,5.000000,89.000000,3.000000

In [78]:
#в столбце surgery узнаем чаще всего встречающееся значение, в данном случае мы можем сказать что чаще всего лошадям делали операцию
surgery_counts = {}
for w in horse_data.surgery:
    if w not in surgery_counts:
        surgery_counts[w] = 1
    else:
        surgery_counts[w] += 1
        
        
maxw = 0
mode_surgery = None
for k, v in surgery_counts.items():
    if maxw < v:
        maxw = v
        mode_surgery = k
print('Значение моды:', mode_surgery, 'количество встречаемости:', maxw)

Значение моды: 1.0 количество встречаемости: 180

In [79]:
counts = horse_data['Age'].value_counts().to_dict()
counts
# Чаще всего встречается старая лошадь

{1: 276, 9: 24}

In [80]:
horse_data.Age = horse_data.Age.replace(9, 2)
#предположим что при расчете таблицы ошиблись и вместе 2 , система случайно проставила 9 и заменим 9 на 2

In [82]:
horse_data.describe()

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
count,299.000000,300.000000,240.000000,253.000000,245.00000,182.000000,267.000000,299.000000
mean,1.397993,1.080000,38.167917,2.853755,2.95102,3.692308,24.456929,1.551839
std,0.490305,0.271746,0.732289,1.620294,1.30794,1.491725,27.475009,0.737187
min,1.000000,1.000000,35.400000,1.000000,1.00000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.800000,1.000000,2.00000,2.000000,6.500000,1.000000
50%,1.000000,1.000000,38.200000,3.000000,3.00000,4.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,4.000000,4.00000,5.000000,57.000000,2.000000
max,2.000000,2.000000,40.800000,6.000000,5.00000,5.000000,89.000000,3.000000

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [85]:
#Температура
q1 = horse_data.rectal_temperature.quantile(0.25)
q3 = horse_data.rectal_temperature.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_data[horse_data.rectal_temperature.between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal_temperature')
remove_outliers
#учитывая что у нас было всего 240 заполненных эл-ов, вы можем сказать что выбросов не так много, в данном случем мы должны учитывать все выбросы, т.к. мы рассматриваем больных лошадей и у них температура должна отличаться от нормы

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
113,1.0,1,36.8,NaN,NaN,NaN,NaN,2.0
277,2.0,1,36.9,3.0,1.0,NaN,6.5,1.0
70,2.0,1,37.0,NaN,3.0,4.0,7.6,3.0
292,1.0,1,37.0,2.0,4.0,5.0,6.9,2.0
190,1.0,1,37.1,4.0,3.0,3.0,6.7,1.0
...,...,...,...,...,...,...,...,...
165,1.0,1,39.4,5.0,NaN,NaN,64.0,3.0
231,2.0,1,39.5,6.0,5.0,NaN,6.4,2.0
287,2.0,2,39.5,NaN,NaN,NaN,5.0,1.0
117,2.0,1,39.5,4.0,3.0,5.0,6.7,3.0
162,2.0,1,39.5,NaN,3.0,NaN,56.0,1.0

In [87]:
#Общий белок
q1 = horse_data.protein.quantile(0.25)
q3 = horse_data.protein.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_data[horse_data.protein.between(lower_bound, upper_bound, inclusive=True)].sort_values('protein')
remove_outliers
# в данном случае выпрасов нет, они все равномерно распределины по таблице , не мешает считать , так же в описании к таблице нет ограничений по белку, просто чем выше значение, тем больше обезвоживание, следовательно вероятнее смертность(предположение)

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
255,1.0,2,38.8,1.0,4.0,NaN,3.3,2.0
210,1.0,1,37.9,2.0,2.0,5.0,4.0,2.0
84,1.0,1,37.8,2.0,2.0,NaN,4.5,1.0
142,1.0,1,NaN,6.0,5.0,5.0,4.5,2.0
247,1.0,1,38.1,4.0,5.0,4.0,4.6,2.0
...,...,...,...,...,...,...,...,...
144,1.0,1,37.1,6.0,2.0,5.0,81.0,3.0
63,2.0,1,38.2,4.0,2.0,NaN,82.0,3.0
1,1.0,1,39.2,4.0,3.0,2.0,85.0,3.0
90,2.0,1,38.0,NaN,2.0,1.0,86.0,1.0
208,1.0,1,37.8,5.0,NaN,5.0,89.0,3.0

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [88]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   surgery             299 non-null    float64
 1   Age                 300 non-null    int64
 2   rectal_temperature  240 non-null    float64
 3   mucous_membranes    253 non-null    float64
 4   pain                245 non-null    float64
 5   abdomen             182 non-null    float64
 6   protein             267 non-null    float64
 7   outcome             299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

1) в первом столбце всего один пропуск, я считаю что он не сильно влияет на результат и его можно оставит, так же как и в 8 столбце 
2) во втором слобце пропусков нет

In [91]:
#rectal_temperature, я считаю что если мы заменим пропуски на среднее по таблице, результат не сильно изменится, проверим
horse_data.rectal_temperature = horse_data.rectal_temperature.replace(np.nan, 38.17)
horse_data.describe()
# Про резулитатам мы видим что некоторые показательно как мин и мах вообще не изменились, остальные изменились не значительно, что касается моды, понятно что она изменилась, но т.к. мы брали среднюю, а разброс между мин и мах не мольшой, мы можем допустит что для остальных она была такой же

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
count,299.000000,300.000000,300.000000,253.000000,245.00000,182.000000,267.000000,299.000000
mean,1.397993,1.080000,38.168333,2.853755,2.95102,3.692308,24.456929,1.551839
std,0.490305,0.271746,0.654706,1.620294,1.30794,1.491725,27.475009,0.737187
min,1.000000,1.000000,35.400000,1.000000,1.00000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.900000,1.000000,2.00000,2.000000,6.500000,1.000000
50%,1.000000,1.000000,38.170000,3.000000,3.00000,4.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,4.000000,4.00000,5.000000,57.000000,2.000000
max,2.000000,2.000000,40.800000,6.000000,5.00000,5.000000,89.000000,3.000000

In [93]:
#mucous_membranes так как это один из сиптомов, я считаю что в данном случае наши показатели можно заменить на моду, т к они свойсвены при данном заблевании 
mucous_membranes_counts = {}
for w in horse_data.mucous_membranes:
    if w not in mucous_membranes_counts:
        mucous_membranes_counts[w] = 1
    else:
        mucous_membranes_counts[w] += 1
        
        
maxw = 0
mode_mucous_membranes = None
for k, v in mucous_membranes_counts.items():
    if maxw < v:
        maxw = v
        mode_mucous_membranes = k
print('Значение моды:', mode_mucous_membranes, 'количество встречаемости:', maxw)
horse_data.mucous_membranes = horse_data.mucous_membranes.replace(np.nan, 1.0)
horse_data.describe()

Значение моды: 1.0 количество встречаемости: 79

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
count,299.000000,300.000000,300.000000,300.000000,245.00000,182.000000,267.000000,299.000000
mean,1.397993,1.080000,38.168333,2.563333,2.95102,3.692308,24.456929,1.551839
std,0.490305,0.271746,0.654706,1.633468,1.30794,1.491725,27.475009,0.737187
min,1.000000,1.000000,35.400000,1.000000,1.00000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.900000,1.000000,2.00000,2.000000,6.500000,1.000000
50%,1.000000,1.000000,38.170000,2.000000,3.00000,4.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,4.000000,4.00000,5.000000,57.000000,2.000000
max,2.000000,2.000000,40.800000,6.000000,5.00000,5.000000,89.000000,3.000000

In [95]:
for w in horse_data.surgery:
    if w == 1:
        horse_data.pain = horse_data.pain.replace(np.nan, 4.0) 
    if w == 2:
        horse_data.pain = horse_data.pain.replace(np.nan, 2.0)
    if w == np.nan:
        horse_data.pain = horse_data.pain.replace(np.nan, 2.0)
horse_data.describe()   
# В описании бали указано что чем больше боль, том больше вероятность операции, обем от обратно и пишем 2 если операции не было и 4 если операция была

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
count,299.000000,300.000000,300.000000,300.000000,300.000000,182.000000,267.000000,299.000000
mean,1.397993,1.080000,38.168333,2.563333,2.776667,3.692308,24.456929,1.551839
std,0.490305,0.271746,0.654706,1.633468,1.237698,1.491725,27.475009,0.737187
min,1.000000,1.000000,35.400000,1.000000,1.000000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.900000,1.000000,2.000000,2.000000,6.500000,1.000000
50%,1.000000,1.000000,38.170000,2.000000,2.000000,4.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,4.000000,4.000000,5.000000,57.000000,2.000000
max,2.000000,2.000000,40.800000,6.000000,5.000000,5.000000,89.000000,3.000000

In [96]:
# в столбце живот просавим как в описании - 3-это, вероятно, препятствие, вызванное механическим ударом, по такомуже принцыпу как и боль
и обычно лечится медикаментозно
- 4 и 5 указывают на хирургическое поражение

from random import randint
for w in horse_data.surgery:
    if w == 1:
        horse_data.abdomen = horse_data.abdomen.replace(np.nan, randint(4, 5)) 
    if w == 2:
        horse_data.abdomen = horse_data.abdomen.replace(np.nan, 3.0)
    if w == np.nan:
        horse_data.abdomen = horse_data.abdomen.replace(np.nan, 2.0)
horse_data.describe()

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
count,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000,267.000000,299.000000
mean,1.397993,1.080000,38.168333,2.563333,2.776667,3.420000,24.456929,1.551839
std,0.490305,0.271746,0.654706,1.633468,1.237698,1.209052,27.475009,0.737187
min,1.000000,1.000000,35.400000,1.000000,1.000000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.900000,1.000000,2.000000,3.000000,6.500000,1.000000
50%,1.000000,1.000000,38.170000,2.000000,2.000000,3.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,4.000000,4.000000,5.000000,57.000000,2.000000
max,2.000000,2.000000,40.800000,6.000000,5.000000,5.000000,89.000000,3.000000

In [97]:
# значения белка можем заменить медианой, т.к. не можем сравнить его с кишечником, для того что бы результаты в таблице не сильно искозились 
horse_data.protein = horse_data.protein.replace(np.nan, 7.5)
horse_data.describe()

,surgery,Age,rectal_temperature,mucous_membranes,pain,abdomen,protein,outcome
count,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,299.000000
mean,1.397993,1.080000,38.168333,2.563333,2.776667,3.420000,22.591667,1.551839
std,0.490305,0.271746,0.654706,1.633468,1.237698,1.209052,26.453849,0.737187
min,1.000000,1.000000,35.400000,1.000000,1.000000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.900000,1.000000,2.000000,3.000000,6.600000,1.000000
50%,1.000000,1.000000,38.170000,2.000000,2.000000,3.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,4.000000,4.000000,5.000000,53.250000,2.000000
max,2.000000,2.000000,40.800000,6.000000,5.000000,5.000000,89.000000,3.000000