Задание 1

In [9]:
word = str(input("введите слово из латинских букв "))
if len(word) % 2 == 0:
    print (word [len(word) // 2 - 1], word [len(word) // 2 ], sep = "")
else:
    print (word [len(word) // 2 ])

введите слово из латинских букв teste
s

Задание 2

In [25]:
number = 5
lst = []
while number != 0:
    number = int(input('введите число '))
    lst.append(number)
print (sum(lst))

введите число 5
[5]
введите число 8
[5, 8]
введите число 2
[5, 8, 2]
введите число 0
[5, 8, 2, 0]
15

Задание 3

In [17]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys.sort()
girls.sort()
if len(boys) != len(girls):
    print ('Внимание, кто-то может остаться без пары!')
else:
    print ('Идеальные пары: ')
    couple = zip (boys, girls)
    for men in couple:
        print (men[0], 'и', men[1] )

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Задание 4

In [39]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]]
for country in countries_temperature:
    temperature = 5*(sum(country[1]) / len(country[1]) - 32)/9
    print (country[0], '-', '%.1f' % temperature)

Thailand - 23.9
Germany - 13.8
Russia - 3.7
Poland - 12.0